<!DOCTYPE html>
<html>
  <head>
    <title><%= fname %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= fname %></h1>
    <p>Welcome to <%= fname %></p>
  </body>
</html>
